<div class= "container-score">

  <div class="score-table ">
    <h1> Fin de partie </h1>

    <div class="results">
      <h4>Score final: <%= @game.score %> pts</h4>
      <h4>Votre rang: <%= @game.player_rank %> </h4>
      <h4>Vies perdues: <%= @game.lives_lost %></h4>
      <h4>Gestion des vies: <%= @game.lives_comment %></h4>
    </div>

    <%= link_to 'Voir mon classement', root_path, class:'btn-game' %>

  </div>
</div>
<div class="le-wagon"></div>

<!--
    <h3>Progression: </h3>
    <% @daily_results.order(:id).each do |result| %>
    <%= result.score %>
    <% end %>
    >
