<div class= "container">

  <div class="score-table ">

    <div class="title">
      <h1> Fin de partie </h1>
    </div>

    <div class="results">
      <h3>Score final: <%= @game.score %> pts</h3>
      <h3>Votre rang: <%= @game.player_rank %> </h3>
      <h3>Gestion des vies:<%= @game.lives_lost %></h3>
    </div>


    <%= link_to 'Voir mon classement', root_path, class:'next-button' %>

  </div>
</div>
<div class="le-wagon"></div>

<!--
    <h3>Votre progression dans le jeu: </h3>
    <% @daily_results.order(:id).each do |result| %>
    <%= result.score %>
    <% end %>
    >
