
<div class= "container">

  <div class="score-table ">

    <h1> Jour <%= @daily_result.daily_challenge.position %> </h1>

    <div class="results orange ">
      <h4>Score de la journée <%= @daily_result.score %> pts</h4>
      <h4>Score total <%= @game.score  %> pts</h4>
    </div>

      <div class="buttons-daily-results">
        <%= link_to 'Jour suivant', game_path(@game), class:'btn-game btn-change-show' %>
        <%= link_to 'Classement', root_path(anchor: 'leaderboard'), class: 'btn-game btn-to-leaderboard' %>
      </div>

  </div>

</div>

<div class="le-wagon"></div>
