
<div class="container-index">
  <div class="sun">
    <div class="sun1"></div>
    <div class="sun2"></div>
    <div class="sun3"></div>
    <div class="sun4"></div>
    <div class="sun5"></div>
    <div class="sun6"></div>
  </div>
  <h1 class='title-index'>Le Wagon Simulator</h1>
  <% if current_user.nil? %>
      <%= link_to "PLAY",  new_user_session_path, class: "btn-play" %>
    <% else %>
      <% current_game = current_user.games.find_by(is_over: false) %>
      <% if current_user.games.empty? || current_game.nil? %>
        <%= link_to "PLAY", games_path, method: :post, class: "btn-play" %>
      <% else %>
        <%= link_to 'PLAY', game_path(current_game), class: "btn-play" %>
      <% end %>
  <% end %>
  <%# <p class='reflet'>Le Wagon Simulator</p> %>
</div>
<div class="le-wagon"></div>

<div class="leader-board" style='color: white'>




<% games = Game.all.order(score: :desc) %>

<% games.each do |game| %>
<%= game.user.name %>
<%= game.user.batch_number %>
<%= game.score %>
<br>
<% end %>


</div>
