
<div class="container-index">
  <div class="sun">
    <div class="sun1"></div>
    <div class="sun2"></div>
    <div class="sun3"></div>
    <div class="sun4"></div>
    <div class="sun5"></div>
    <div class="sun6"></div>
  </div>
  <h1 class='title-index'>Le Wagon Simulator</h1>
  <% if current_user.nil? %>
      <%= link_to "PLAY",  new_user_session_path, class: "btn-play" %>
    <% else %>
      <% current_game = current_user.games.find_by(is_over: false) %>
      <% if current_user.games.empty? || current_game.nil? %>
        <%= link_to "PLAY", games_path, method: :post, class: "btn-play" %>
      <% else %>
        <%= link_to 'PLAY', game_path(current_game, help: 'redirect'), method: :patch, class: "btn-play" %>
      <% end %>
  <% end %>
  <%# <p class='reflet'>Le Wagon Simulator</p> %>
</div>
<div class="le-wagon"></div>

<table class="leader-board" id='leaderboard'>
  <thead>
    <tr>
      <th><%= "Rang" %></th>
      <th><%= "Name" %></th>
      <th><%= "Batch" %></th>
      <th><%= "Score" %></th>
    </tr>
  </thead>
    <tbody class="scroll-leaderboard">
      <% games = Game.all.order(score: :desc) %>
      <% games.each do |game| %>
        <tr>
          <td><%= games.index(game) + 1 %></td>
          <td><%= game.user.name.capitalize %></td>
          <td><%= game.user.batch_number %></td>
          <td><%= game.score %></td>
        </tr>
      <% end %>
    </tbody>
</table>


<% if current_user %>
  <p class= 'best-score'>Your Best Score</p>
  <table class='leader-board' >
    <tbody>
      <tr>
        <% games = Game.all.order(score: :desc) %>
        <% user_best_game = current_user.games.order(score: :desc).first %>
          <% if current_user.games.present? %>
            <td><%= games.index(user_best_game) + 1 %></td>
            <td><%= current_user.name.capitalize %></td>
            <td><%= current_user.batch_number %></td>
            <td><%= user_best_game.score %></td>
          <% end %>
<% end %>
      </tr>
    </tbody>
  </table>
