<h1>show_view</h1>

  <div class="button-help">
  </div>
<% if @game.current_hour < 18 %>
  <%= link_to '+1H', game_path(@game), method: :patch, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Fin de journée', game_path(@game), method: :patch, class: "btn btn-primary" %>
<% end %>
<br>
<%= @game.current_hour %>H &nbsp;<%= @game.daily_challenge.position  %>jours
<br>

<%= link_to "Skip Day", game_path(@game, {help: 'skip'}), method: :patch %>


<div class="container-show-games">
  <%# <h1>show_view</h1> %>
  <div class="side-bar">
    <div class="time">
      Jour &nbsp;<%= @game.daily_challenge.position %>
      <i class="far fa-clock"></i>  
      <%= @game.current_hour %>H 
    </div>
    <div class="btn-action">
      <%= link_to '+1H', game_path(@game), method: :patch, class: "btn btn-primary" %>
      <div class="button-help"></div>                               
    </div>
    <div class="score">
      <p>Score : <%= "#{}" %> pts </p>
    </div>
  </div>

  <div class="workspace">
    <div class="row-left">
      <div class="buddy-table">
        <div class="table t1">
          <div class="student1"></div>
        </div>
        <div class="table t2">
          <div class="student1"></div>
        </div>
      </div>
      <div class="buddy-table">
        <div class="table t5"><div class="student1"></div></div>
        <div class="table t6"><div class="student1"></div></div>
      </div>
      <div class="buddy-table">
        <div class="table t9"><div class="student1"></div></div>
        <div class="table t10"><div class="student1"></div></div>
      </div>
    </div>
    <div class="row-right">
      <div class="buddy-table">
        <div class="table t3"><div class="student1"></div></div>
        <div class="table t4"><div class="student1"></div></div>
      </div>
      <div class="buddy-table">
        <div class="table t7"><div class="student1"></div></div>
        <div class="table t8"><div class="student1"></div></div>
      </div>
      <div class="buddy-table">
        <div class="table t11"><div class="student1"></div></div>
        <div class="table t12"><div class="student1"></div></div>
      </div>
    </div> 
  </div>
<!--
  <% @game.students.order(:classroom_position).each do |student| %>
    <%= link_to do %>
      <div class="card" style="width: 18rem;" data-can-help=<%= student.can_help? %> data-is-helped=<%= student.is_helped  %> data-student-id=<%= student.id %> data-game-id=<%= @game.id %> data-teacher-help=<%= @game.students.find_by(teacher_help: true) %>>
        <div class="card-body">
          <h5 class="card-title"><%= student.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= student.lives %> Vies</li>
          <li class="list-group-item"><%= student.success_probability %>%</li>
          <li class="list-group-item">Exercice: <%= student.exercise.position %></li>
        </ul>
      </div>
    <% end %>
  <% end %> -->
</div> 
