<h1>show_view</h1>
<%= link_to "teacher help", game_student_path(@game, @game.students.first, {help: 'teacher'}), method: :patch %>
<br>
<%= link_to "help buddy", game_student_path(@game, @game.students.last, {help: 'student'}), method: :patch %>
<br>
<%= link_to '+1H', game_path(@game), method: :patch %>
<br>
<%= @game.current_hour %>H &nbsp;<%= @game.daily_challenge.position  %>jours
<br>
<% @game.students.order(:classroom_position).each do |student| %>
  <%= student.name.capitalize %> &nbsp;
  <%= student.exercise.position %> EXO &nbsp;
  <%= student.success_probability %>% &nbsp;
  <%= student.lives %>VIES &nbsp;
  <br>
<% end %>
