
<div class="container-show-games">
  <div class="interface-actions">

    <div class="box-text-interface current-day-infos">
      Jour: <%= @game.daily_challenge.position %>
    </div>

    <div class="box-text-interface current-hour-infos">
      <%= @game.current_hour %>H
    </div>

    <div class="score box-text-interface" data-game-score=<%= @game.score %> data-last-score=<%= @last_score %>>
      <% if @game.current_hour == 9 || @game.current_hour == 18 %>
        Score: <%= @game.score %>
      <% else %>
        Score: <%= @last_score %>
      <% end %>
    </div>
    <div class="btn-action">
      <% if @game.current_hour < 17 %>
        <%= link_to '+1H', game_path(@game), method: :patch, class: "button-rpg time-change add-hour" %>
      <% elsif @game.current_hour == 17 %>
        <%= link_to '+1H', game_path(@game), method: :patch, class: "button-rpg time-change add-hour" %>
      <% elsif @game.current_hour == 18 && @game.daily_challenge.position != 20  %>
        <%= link_to 'Fin de journée', game_path(@game), method: :patch, class: "button-rpg time-change end-day" %>
      <% elsif @game.current_hour == 18 && @game.daily_challenge.position == 20 %>
        <%= link_to 'Fin de partie', game_path(@game), method: :patch, class: "button-rpg time-change end-game" %>
      <% end %>

      <div class="button-help">
      </div>

      <%= link_to 'Skip Day', game_path(@game, help: 'skip'), method: :patch, class: "button-rpg skip-day" %>

  </div>

    <div class="time" data-hour=<%= @game.current_hour %>>

      <%= image_tag("clock/hour-#{@game.current_hour}.png", size: "100x100", alt: "Clock image") %>
    </div>

  <div class="game-interface"></div>

</div>

<% @game.students.order(classroom_position: :asc).each do |student| %>
  <div class="tables table-<%= @game.students.order(classroom_position: :asc).index(student) + 1 %>">
    <%= link_to do %>
      <div class="studs student-<%= @game.students.order(classroom_position: :asc).index(student) + 1  %>" data-can-help=<%= student.can_help %> data-position=<%= student.classroom_position %> data-is-helped=<%= student.is_helped %> data-student-id=<%= student.id %> data-game-id=<%= @game.id %> data-teacher-help=<%= @game.students.find_by(teacher_help: true) %>></div>
      <div class="life-remaining"  data-lives=<%= student.lives %>>
        <%= image_tag("heart-#{student.lives}.png") %>
      </div>
    <% end %>
    <div class="table-infos">
      <% if student.exercise.position < 3 %>
        <%= image_tag('exo-red.png', class: 'exercise') %>
      <% elsif student.exercise.position == 3 %>
        <%= image_tag('exo-orange.png', class: 'exercise') %>
      <% elsif student.success_probability > 1000 %>
        <%= image_tag('exo-gold.png', class: 'exercise') %>
      <% elsif student.exercise.position > 3 && student.success_probability >= 0 %>
        <%= image_tag('exo-green.png', class: 'exercise') %>
      <% end %>
      <div class="exercise-infos">
        <p><%= student.exercise.position %>/6</p>
        <% if student.success_probability <= 200 && student.success_probability >= 0 %>
          <p><%= student.success_probability %>%</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="star star-1 no-display"></div>
<div class="star star-2 no-display"></div>
<div class="star star-3 no-display"></div>
<div class="star star-4 no-display"></div>
<div class="star star-5 no-display"></div>
<div class="star star-6 no-display"></div>
<div class="star star-7 no-display"></div>
<div class="star star-8 no-display"></div>
<div class="star star-9 no-display"></div>
<div class="star star-10 no-display"></div>
<div class="star star-11 no-display"></div>
<div class="star star-12 no-display"></div>

<div class="star-final"></div>

<div class="le-wagon"></div>

<div class="students students1 no-display"></div>
<div class="students students2 no-display"></div>
<div class="students students3 no-display"></div>
<div class="students students4 no-display"></div>
<div class="students students5 no-display"></div>
<div class="students students6 no-display"></div>
<div class="students students7 no-display"></div>
<div class="students students8 no-display"></div>
<div class="students students9 no-display"></div>
<div class="students students10 no-display"></div>
<div class="students students11 no-display"></div>
<div class="students students12 no-display"></div>

<div class="main-character character"></div>
