<h1>show_view</h1>
<div class="button-help">
</div>

<%= link_to '+1H', game_path(@game), method: :patch, class: "btn btn-primary" %>
<br>
<%= @game.current_hour %>H &nbsp;<%= @game.daily_challenge.position  %>jours
<br>


<div class="container-show-games" style= "display:grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 26px; margin-top: 16px; ">
  <% @game.students.order(:classroom_position).each do |student| %>
    <%= link_to do %>
      <div class="card" style="width: 18rem;" data-student-id=<%= student.id %> data-game-id=<%= @game.id %>>
        <div class="card-body">
          <h5 class="card-title"><%= student.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= student.lives %> Vies</li>
          <li class="list-group-item"><%= student.success_probability %>%</li>
          <li class="list-group-item">Exercice: <%= student.exercise.position %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
