
<div class="container-show-games">
  <%# <h1>show_view</h1> %>
  <div class="side-bar">
    <div class="time">
      Jour &nbsp;<%= @game.daily_challenge.position %>
      <i class="far fa-clock"></i>
      <%= @game.current_hour %>H
    </div>
    <div class="btn-action">
      <% if @game.current_hour < 18 %>
        <%= link_to '+1H', game_path(@game), method: :patch, class: "btn btn-primary" %>
      <% elsif @game.current_hour == 18 && @game.daily_challenge.position != 20  %>
        <%= link_to 'Fin de journée', game_path(@game), method: :patch, class: "btn btn-primary end-day" %>
      <% elsif @game.current_hour == 18 && @game.daily_challenge.position == 20 %>
        <%= link_to 'Fin de partie', game_daily_results_path(@game), class: "btn btn-primary end-game" %>
      <% end %>


      <%= link_to "Skip Day", game_path(@game, {help: 'skip'}), method: :patch, class: "btn btn-primary" %>

      <div class="button-help">
      </div>
    </div>
    <div class="score">
      <p>Score : <%= @game.score %> pts </p>
    </div>
  </div>
  <% @students = @game.students.order(classroom_position: :asc) %>

            <div class="background-appear" data-can-help=<%= @students[0].can_help? %> data-is-helped=<%= @students[0].is_helped  %> data-student-id=<%= @students[0].id %> data-game-id=<%= @game.id %> data-teacher-help=<%= @game.students.find_by(teacher_help: true) %>>
            </div>

>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= @students[0].name %></li>
                <li class="list-group-item"><%= @students[0].lives %> Vies</li>
                <li class="list-group-item"><%= @students[0].success_probability %>%</li>
                <li class="list-group-item">Exercice: <%= @students[0].exercise.position %></li>
              </ul>



</div>

<div class="tables table-1">
<div class="studs student-1"></div>
</div>
<div class="tables table-2">
<div class="studs student-2"></div>
</div>
<div class="tables table-3">
<div class="studs student-3"></div>
</div>
<div class="tables table-4">
<div class="studs student-4"></div>
</div>
<div class="tables table-5">
<div class="studs student-5"></div>
</div>
<div class="tables table-6">
<div class="studs student-6"></div>
</div>
<div class="tables table-7">
<div class="studs student-7"></div>
</div>
<div class="tables table-8">
<div class="studs student-8"></div>
</div>
<div class="tables table-9">
<div class="studs student-9"></div>
</div>
<div class="tables table-10">
<div class="studs student-10"></div>
</div>
<div class="tables table-11">
<div class="studs student-11"></div>
</div>
<div class="tables table-12">
<div class="studs student-12"></div>
</div>






<div class="le-wagon"></div>
<div class="students students1 no-display"></div>
<div class="students students2 no-display"></div>
<div class="students students3 no-display"></div>
<div class="students students4 no-display"></div>
<div class="students students5 no-display"></div>
<div class="students students6 no-display"></div>
<div class="students students7 no-display"></div>
<div class="students students8 no-display"></div>
<div class="students students9 no-display"></div>
<div class="students students10 no-display"></div>
<div class="students students11 no-display"></div>
<div class="students students12 no-display"></div>


<div class="main-character character"></div>
