<!DOCTYPE html>
<html>
  <head>
    <title> Le Wagon Simulator </title>
  <meta name="description" content="20 jours dans la peau d'un prof du Wagon">

  <%= favicon_link_tag asset_path("favicon-32x32.png") %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# <%= render 'shared/navbar' %>

    <%= render "shared/banner" %>

    <%= yield %>
  </body>
</html>
